<div>
  <form action="/complie/complie" enctype="multipart/form-data" method="post">
    <!--<input type="text" name="id" value="56fd17feb6cf5c07060cf07c"><br>-->
    <input type="file" name="avatar" multiple="multiple"><br>
    <input type="submit" value="Upload">
  </form>
</div>
