<div>
  <form action="/course/uploadCourseFile" enctype="multipart/form-data" method="post">
    <input type="text" name="course_id" ><br>
    <input type="file" name="avatar" multiple="multiple"><br>
    <input type="submit" value="Upload">
  </form>
</div>
